   <style>
        body{
            margin: 0;
           /* font-family: Arial, Helvetica, sans-serif;*/
        }
        
        .topnav{
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover{
            background-color: aqua;
            color: rgb(0, 0, 0);
        }

        .topnav a.active{
            background-color: rgba(255, 255, 255, 0.726);
            color: rgb(0, 0, 0);
        }
    </style>